/*
| Custom style Bootstrap template
| Build by @gilangtetsuya
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700");
body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
.cf:after,
.cf:before {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
} 
.cf {
    *zoom: 1;
}
/* general layout */
.container {
    margin-top: 70px;
}
.navbar.navbar-default {
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    border: none;
}
.panel {
    border-radius: 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.panel > .panel-heading {
    font-size: 90%;
    border-radius: 0;
    padding: 6px;
}
.text-normal {
    font-weight: 300;
}
.pull-right > span {
    display: block;
    width: 100%;
}
.inner {
    padding: 6px;
}
.inner > span {
    margin-top: 5px;
    margin-left: 8px;
}
.pull-right > span:nth-child(1) {
    font-size: 170%;    
}
.pull-right > span:nth-child(2) {
    font-size: 230%;    
    font-weight: 400;
    text-align: right;
}
label {
    display: block;
    width: 100%;
    cursor: pointer;
}
.form-control {
    font-size: 94%;
    border-radius: 0;
}
.form-control:focus {
    border: 1px solid #1565C0;
    -webkit-box-shadow: none;
            box-shadow: none;
}   
.form-line {
    background: transparent;
    border: transparent;
    outline: none;
    color: #fff;
    border-bottom: 1px solid #009688;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: none;
            box-shadow: none; 
}
.form-line:focus {
    border-color: transparent;
    border-bottom: 2px solid #00897B;
}
.form-line::-webkit-input-placeholder {
    color: #ccc;
}
.form-line::-moz-input-placeholder {
    color: #ccc;
}
.form-group > .row > [class*="col-xs-"]:nth-child(1) {
    margin-left: 0px;
}
.form-group > .row > [class*="col-xs-"] {
    margin-left: -23px;
}
.col-xs-2-5, .col-sm-2-4, .col-xs-2-7, .col-xs-2-4, .col-sm-2-5, .col-sm-2-6,
.col-xs-3-5, .col-xs-2-6, .col-xs-2-8, .col-xs-2-9 {
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}
.col-xs-2-5, .col-sm-2-4, .col-xs-2-7, .col-xs-2-4, .col-sm-2-5, .col-sm-2-6,
.col-xs-3-5, .col-xs-2-6, .col-xs-2-8, .col-xs-2-9 {
    float: left;
}
.col-xs-2-4 {
    width: 10%;
}
.col-xs-2-5 {
    width: 11.4444447%;
}
.col-xs-2-6 {
    width: 14.6666667%;
}
.col-xs-2-7 {
    width: 18%;
}
.col-xs-2-8 {
    width: 19.666667%;
}
.col-xs-2-9 {
    width: 20.666667%;
}
.col-xs-3-5 {
    width: 31.66667%;
}
.col-sm-2-4 {
    width: 20%;
}
.col-sm-2-5 {
    width: 17.8888887%;
}
.col-sm-2-6 {
    width: 19%; 
}
.none {
    display: none;
}
.btn {
    border-radius: 0;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);        
}
.btn:focus,
.btn:active,
.btn:active:focus,
.btn:visited {
    outline: none;
    color: #fff;
    border: none;
}
.btn-teal {
    background-color: #009688;
    color: #fff;
}
.btn-teal:hover {
    background-color: #00897B;
    color: #fff;
}
.login-panel {
    background-color: #283593;
    color: #fff;
    padding: 15px;
    padding-top: 30px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.login-title {
    margin: 0;
    padding: 0;
    font-size: 170%;
    letter-spacing: 2px;
}
.login-panel > p {
    margin: 0;
    margin-top: 6px;
    font-size: 80%;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.login-panel > hr {
    margin: 0;
    margin-top: 5px;
}
.login-panel img {
    margin-bottom: 6px;
}
.login-footer {
    position: absolute;
    width: 100%;
    height: 33px;
    bottom: 0;
    left: 0;
    padding: 8px;
}
.login-footer span:nth-child(1) {
    float: right;
    font-size: 90%;
    letter-spacing: 1px;
    color: #666;
}
.bg-blue {
    background-color: #283593;
    color: #fff;
}
.navbar-brand img {
    float: left;
    width: 35px;
    height: 35px;
    margin-top: -8px;
    margin-right: 5px;
}
.navbar-brand span {
    font-size: 120%;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
}
.sidenav > .navbar-brand {
    transition: all .3s ease-in-out;
}
.sidenav > .navbar-brand:hover {
    background-color: #303F9F;
}
.toggle-visible {
    display: none;
}
.sidenav {
    position: fixed;
    width: 230px;
    height: 100vh;
    left: 0;
    top: 0;
    background-color: #263238;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
    z-index: 1050;
}
.sidenav > .navbar-brand {
    display: flex;
    width: 100%;
    background: #1A237E;
    padding-top: 15px;
    justify-content: center;
    margin-bottom: 6px;
}
.sidenav > .navbar-brand:focus,
.sidenav > .navbar-brand:active {
    outline: none;
}
.dropdown {
    background-color: #3F51B5;
    color: #fff;
}
.nav > li.dropdown > a {
    letter-spacing: 1px;
    color: #fff;
    transition: all .3s ease-in-out;
    font-weight: 400;
}
.nav > li.dropdown > a:visited,
.nav > li.dropdown > a:link {
    color: #fff; 
}
.nav > li.dropdown > a:hover {
    background-color: #3949AB;
}
/* sidenav menu */
.sidenav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidenav-menu > li > a {
    display: block;
    color: #fff;
    padding: 9px;
    text-align: left;
    font-size: 91%;
    font-weight: 300;
    letter-spacing: 1px;
    border-bottom: 1px solid #424242;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.sidenav-menu > li > a > span {
    font-size: 110%;
    margin-right: 3px;
}
.sidenav-menu > li > a:hover {
    background-color: #5C6BC0;
}
.sidenav-menu > li > a:visited,
.sidenav-menu > li > a:link {
    text-decoration: none;
    outline: none;
}
.sidenav-menu > li.info-level {
    background-color: #37474F;
    border-bottom: 2px solid #424242;
    text-align: center;
    letter-spacing: 1px;
}
.sidenav-menu > li.info-level > span {
    display: block;
    padding: 6px;
    font-size: 100%;
    font-weight: 400;
    color: #fff;
}
.sidenav-sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}
.sidenav-sub-menu > li > a {
    display: block;
    padding: 7px;
    padding-left: 20px;
    color: #eee;
    font-size: 90%;
    background-color: #212121;
    border-bottom: 1px solid #616161;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.sidenav-sub-menu > li > a:hover {
    background-color: #C5CAE9;
    color: #444;
}
/* main content */
.main-content {
    position: relative;
    width: 100%;
    float: right;
    left: 0;
    top: 50px;
    padding-bottom: 25px;
    padding-left: 230px;
    overflow: auto;
    z-index: -9;
}
.title-content {
    padding: 6px;
    padding-left: 15px;
    border-bottom: 1px solid #E0E0E0;
}
.title-content span {
    font-size: 110%;
}
.main-content .container {
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 10px;
}
.container > .btn-group {
    margin-bottom: 10px;
}
/* main footer */
.main-footer {
    position: fixed;
    width: 100%;
    height: 33px;
    background: #1A237E;
    bottom: 0;
    left: 0;
    padding: 8px;
    z-index: -1;
}
.main-footer span:nth-child(1) {
    float: right;
    font-size: 96%;
    color: #fff;
}
/* custom panel color */
.panel-warning {
    border-color: #FFC107;
}
.panel-warning > .panel-heading {
    background-color: #FFC107;
    color: #fff;
    border-color: #FFC107;
}
/* custom dataTable */
.table {
    margin-top: 10px;  
}
.table-striped thead tr {
    border-top: 1px solid #ccc;          
}
.table-striped tbody tr:last-child {
    border-bottom: 1px solid #ccc;        
}
table.table > thead > tr > th {
    font-size: 76%;
    text-transform: uppercase;
    text-align: center;
}
table.table > tbody > tr > td {
    font-size: 68%;
    text-transform: uppercase;
    text-align: center;
}
.pagination {
  margin: 0;    
}
@media screen and (max-width: 1760px) {
    table.display > thead > tr > th {
        font-size: 80%;
        text-align: center;
    }
    table.display > tbody > tr > td {
        font-size: 70%;
        font-weight: 400;
        text-align: center;
        padding: 3px;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 1550px) {
    .pull-right > span:nth-child(1) {
        font-size: 130%;    
    }
    .pull-right > span:nth-child(2) {
        font-size: 190%;    
        font-weight: 400;
        text-align: right;
    }
    table.table > thead > tr > th {
        font-size: 68%;
    }
    table.table > tbody > tr > td {
        font-size: 68%;
    }
}
@media screen and (max-width: 1400px) {
    .inner > span {
        font-size: 390%;
    }
    .pull-right > span:nth-child(1) {
        font-size: 120%;    
    }
    .pull-right > span:nth-child(2) {
        font-size: 160%;    
        font-weight: 400;
        text-align: right;
    }
    table.table > thead > tr > th {
        font-size: 60%;
    }
    table.table > tbody > tr > td {
        padding: 3px;
        font-size: 62%;
        text-align: center;
    }
}
/* media query for mobile display */
@media screen and (max-width: 767px) {
    .toggle-visible {
        display: block;
        margin-top: 10px;
        border: none;
        background: transparent;
        color: #fff;
    }
    .mobile-header {
        position: absolute;
        z-index: -1;
    }
    .sidenav__container {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }
    .sidenav__container::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    }
    .sidenav--visible {
        pointer-events: auto;
    }
    .sidenav--visible::before {
        opacity: 1;
    }
    .sidenav--visible .sidenav {
        transform: none;
    }
    .sidenav {
        position: relative;
        width: 90%;
        max-width: 230px;
        height: 100%;
        box-shadow: 2px 0 12px rgba(0,0,0,0.3);
        transition: transform 0.3s cubic-bezier(0,0,0.3,1);
        display: flex;
        flex-direction: column;
        will-change: transform;
        transform: translateX(-102%);
        z-index: 1050;
    }
    .sidenav > .navbar-brand {
        display: none;
    }
    .sidenav-menu > li > a {
        font-size: 80%;
    }
    .main-content {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50px;
        padding: 0;
        margin: 0;
    }
    .title-content {
        text-align: center;
    }
    .row > .col-sm-2-4 {
        display: block;
        width: 100%;
    }
    .navbar-brand {
        float: right;
        margin-right: -15px;
    }
    .login-panel {
        padding: 10px;
        padding-top: 15px;
    }
    .login-footer {
        text-align: center;
    }
    table.display {
        overflow-y: hidden;
    }
}
