/*
| Custom style Bootstrap template
| Build by @gilangtetsuya
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600');
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    background: #FFF8DC;
}
a:visited,
a:link {
    border: none;
}   
.login-body {
    background: #bdc3c7;
}
.cf:after,
.cf:before {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
} 
.cf {
    *zoom: 1;
}
/* general layout */
.container {
    margin-top: 70px;
}
.navbar.navbar-default {
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    border: none;
}
.panel {
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.panel > .panel-heading {
    font-size: 90%;
    border-radius: 0;
    padding: 6px;
}
.text-normal {
    font-weight: 300;
}
.pull-right > span {
    display: block;
    width: 100%;
}
.inner {
    padding: 6px;
}
.inner > span {
    margin-top: 5px;
    margin-left: 8px;
}
.pull-right > span:nth-child(1) {
    font-size: 170%;    
}
.pull-right > span:nth-child(2) {
    font-size: 230%;    
    font-weight: 400;
    text-align: right;
}
label {
    display: block;
    width: 100%;
    cursor: pointer;
}
.form-control {
    font-size: 94%;
    border-radius: 0;
}
.form-control:focus {
    border: 1px solid #1565C0;
    -webkit-box-shadow: none;
            box-shadow: none;
}   
.form-line {
    background: transparent;
    border: transparent;
    outline: none;
    color: #fff;
    border-bottom: 1px solid #009688;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: none;
            box-shadow: none; 
}
.form-line:focus {
    border-color: transparent;
    border-bottom: 2px solid #00897B;
}
.form-line::-webkit-input-placeholder {
    color: #ccc;
}
.form-line::-moz-input-placeholder {
    color: #ccc;
}
.form-group > .row > [class*="col-xs-"]:nth-child(1) {
    margin-left: 0px;
}
.form-group > .row > [class*="col-xs-"] {
    margin-left: -23px;
}
.col-xs-2-5, .col-sm-2-4, .col-xs-2-7, .col-xs-2-4, .col-sm-2-5, .col-sm-2-6,
.col-xs-3-5, .col-xs-2-6, .col-xs-2-8, .col-xs-2-9, .col-xs-2-3 {
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}
.col-xs-2-5, .col-sm-2-4, .col-xs-2-7, .col-xs-2-4, .col-sm-2-5, .col-sm-2-6,
.col-xs-3-5, .col-xs-2-6, .col-xs-2-8, .col-xs-2-9, .col-xs-2-3 {
    float: left;
}
.col-xs-2-3 {
    width: 7%;
}
.col-xs-2-4 {
    width: 10%;
}
.col-xs-2-5 {
    width: 11.4444447%;
}
.col-xs-2-6 {
    width: 14.6666667%;
}
.col-xs-2-7 {
    width: 18%;
}
.col-xs-2-8 {
    width: 19.666667%;
}
.col-xs-2-9 {
    width: 20.666667%;
}
.col-xs-3-5 {
    width: 31.66667%;
}
.col-sm-2-4 {
    width: 20%;
}
.col-sm-2-5 {
    width: 17.8888887%;
}
.col-sm-2-6 {
    width: 19%; 
}
.none {
    display: none;
}
.btn {
    border-radius: 0;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);        
}
.btn:focus,
.btn:active,
.btn:active:focus,
.btn:visited {
    outline: none;
    color: #fff;
    border: none;
}
.btn-teal {
    background-color: #009688;
    color: #fff;
}
.btn-teal:hover {
    background-color: #00897B;
    color: #fff;
}
.login-panel {
    background-color: #2F4F4F;
    color: #fff;
    padding: 15px;
    padding-top: 30px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}
.login-title {
    margin: 0;
    padding: 0;
    font-size: 170%;
    letter-spacing: 2px;
    color: #FFF8DC;
}
.login-panel > p {
    margin: 0;
    margin-top: 6px;
    font-size: 90%;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 400;
    color: #FFF8DC;
}
.login-panel > hr {
    margin: 0;
    margin-top: 5px;
}
.login-panel img {
    width: 76px;
    height: 90px;
    margin-bottom: 6px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.4));
}
.login-footer {
    position: absolute;
    width: 100%;
    height: 33px;
    bottom: 0;
    left: 0;
    padding: 8px;
}
.login-footer span:nth-child(2) {
    float: right;
    font-size: 90%;
    color: #555;
}
.login-footer span:nth-child(1) {
    font-size: 90%;
    color: #555;
}
.bg-blue {
    background-color: #283593;
    color: #fff;
}
.bg-red {
    background-color: #c0392b;
    color: #fff;
}
.bg-tweet {
    background-color: #0077B5;
    color: #fff;
}
.navbar-fixed-top {
    z-index: 5; 
}
.container-fluid > .navbar-brand {
    display: none;
}
.navbar-brand img {
    float: left;
    width: 35px;
    height: 40px;
    margin-top: -8px;
    margin-right: 5px;
    filter: drop-shadow(0 3px 5px rgba(0,0,0,0.3));
}
.navbar-brand span {
    font-size: 120%;
    font-weight: 400;
    color: #fff;
    letter-spacing: 2px;
}
.sidenav > .navbar-brand {
    transition: all .3s ease-in-out;
}
.toggle-visible {
    display: none;
}
.sidenav {
    position: absolute;
    width: 230px;
    /*height: 100vh;*/
    left: 0;
    top: 0;
    padding-top: 49px;
    background-color: #263238;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
    overflow: auto;
    padding-bottom: 10px;
}
.sidenav > .navbar-brand {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 230px;
    background: #c0392b;
    box-shadow: 2px 0 10px rgba(0,0,0,0.3);
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}
.sidenav > .navbar-brand:focus,
.sidenav > .navbar-brand:active {
    outline: none;
}
.sidenav > .navbar-brand:hover {
    background-color: #95a5a6;
}
.sidenav > .navbar-brand > img,span {
    margin-top: 2px;
}
.dropdown {
    background-color: #95a5a6;
    color: #fff;
}
.nav > li.dropdown > a {
    letter-spacing: 1px;
    color: #fff;
    transition: all .3s ease-in-out;
    font-weight: 400;
    background: #c0392b;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.nav > li.dropdown > a:visited,
.nav > li.dropdown > a:link {
    color: #fff; 
}
.nav > li.dropdown > a:hover {
    background-color: #95a5a6;
}
/* sidenav menu */
.sidenav-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidenav-menu > li > a {
    display: block;
    color: #FFF8DC;
    padding: 9px;
    text-align: left;
    font-size: 91%;
    font-weight: 300;
    letter-spacing: 1px;
    border-bottom: 1px solid #424242;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.sidenav-menu > li > a > span {
    font-size: 110%;
    margin-right: 3px;
}
.sidenav-menu > li > a:hover {
    background-color: #5C6BC0;
}
.sidenav-menu > li > a:visited,
.sidenav-menu > li > a:link {
    text-decoration: none;
    outline: none;
}
.sidenav-menu > li.info-level {
    background-color: #37474F;
    border-bottom: 2px solid #424242;
    text-align: center;
    letter-spacing: 1px;
}
.sidenav-menu > li.info-level > span {
    display: block;
    padding: 6px;
    font-size: 100%;
    font-weight: 400;
    color: #FFF8DC;
}
.sidenav-sub-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}
.sidenav-sub-menu > li > a {
    display: block;
    padding: 7px;
    padding-left: 20px;
    color: #eee;
    font-size: 90%;
    background-color: #212121;
    border-bottom: 1px solid #616161;
    -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.sidenav-sub-menu > li > a:hover {
    background-color: #C5CAE9;
    color: #444;
}
.sidenav-sub-menu-tree {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
}
.sidenav-sub-menu-tree > li > a {
    display: block;
    padding: 5px;
    font-size: 90%;
    padding-left: 50px;
    background: #414141;
    color: #fff;
    border-bottom: 1px solid #ccc;
}
/* main content */
.main-content {
    position: relative;
    width: 100%;
    float: right;
    left: 0;
    top: 50px;
    padding-bottom: 25px;
    padding-left: 230px;
    overflow: auto;
    z-index: -9;
}
.title-content {
    padding: 6px;
    padding-left: 15px;
    font-weight: 400;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
}
.title-content span {
    font-size: 110%;
}
.main-content .container {
    width: auto;
    height: auto;
    margin: 0;
    margin-top: 10px;
    z-index: -105;
}
.container > .btn-group {
    margin-bottom: 10px;
}
/* main footer */
.main-footer {
    position: fixed;
    width: 100%;
    height: 33px;
    background: #c0392b;
    bottom: 0;
    left: 0;
    padding: 8px;
    z-index: -1;
}
.main-footer span:nth-child(1) {
    float: left;
    margin-left: 230px;
    font-size: 88%;
    color: #fff;
}
.main-footer span:nth-child(2) {
    float: right;
    font-size: 88%;
    color: #fff;
}
/* custom panel color */
.panel-warning {
    border-color: #FFC107;
}
.panel-warning > .panel-heading {
    background-color: #FFC107;
    color: #fff;
    border-color: #FFC107;
}
/* custom dataTable */
table.table > thead > tr > th {
    text-transform: uppercase;
}
table.table > tbody > tr > td {
    text-transform: uppercase;
    text-align: left;
}
.pagination {
  margin: 0;    
}
table.table > tfoot > tr > th {
  border-top: 3px solid #ddd;
}
div.dataTables_wrapper div.dataTables_filter {
  float: right;
}
.modal-content {
  border-radius: 0;  
}
.list-group > li > span {
  display: inline-block;
  width: 100px;
  font-weight: 400;  
}
.jumbotron {
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.4); 
}
.jumbotron img {
    width: 93px;
    height: 108px;
    filter: drop-shadow(0 2px 4px rgba(0,0,0,0.3));
}
@media screen and (max-width: 1760px) {
    table.display > thead > tr > th {
        font-size: 90%;
        text-align: center;
    }
    table.display > tbody > tr > td {
        font-size: 80%;
        font-weight: 400;
        text-align: center;
        padding: 3px;
        text-transform: uppercase;
    }
    .col-xs-2-9 {
        width: 19.55557%;
    }
}
@media screen and (max-width: 1550px) {
    .pull-right > span:nth-child(1) {
        font-size: 130%;    
    }
    .pull-right > span:nth-child(2) {
        font-size: 190%;    
        font-weight: 400;
        text-align: right;
    }
}
@media screen and (max-width: 1400px) {
    .inner > span {
        font-size: 390%;
    }
    .pull-right > span:nth-child(1) {
        font-size: 120%;    
    }
    .pull-right > span:nth-child(2) {
        font-size: 160%;    
        font-weight: 400;
        text-align: right;
    }
    table.table > thead > tr > th {
        font-size: 80%;
    }
    table.table > tbody > tr > td {
        font-size: 75%;
    }
    .col-xs-2-9 {
        width: 21.55557%;
    }
    .col-xs-2-7 {
        width: 19.33337%;
    }
}
/* media query for mobile display */
@media screen and (max-width: 767px) {
    .toggle-visible {
        display: block;
        margin-top: 10px;
        border: none;
        background: transparent;
        color: #fff;
    }
    .mobile-header {
        position: absolute;
        z-index: -1;
    }
    .sidenav__container {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        pointer-events: none;
    }
    .sidenav__container::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        will-change: opacity;
        transition: opacity 0.3s cubic-bezier(0,0,0.3,1);
    }
    .sidenav--visible {
        pointer-events: auto;
    }
    .sidenav--visible::before {
        opacity: 1;
    }
    .sidenav--visible .sidenav {
        transform: none;
    }
    .sidenav {
        position: relative;
        width: 90%;
        max-width: 230px;
        height: 100%;
        box-shadow: 2px 0 12px rgba(0,0,0,0.3);
        transition: transform 0.3s cubic-bezier(0,0,0.3,1);
        display: flex;
        flex-direction: column;
        will-change: transform;
        transform: translateX(-102%);
        z-index: 1050;
        padding-top: 0;
    }
    .sidenav > .navbar-brand {
        display: none;
        overflow: hidden;
    }
    .sidenav-menu > li > a {
        font-size: 80%;
    }
    .main-content {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50px;
        padding: 0;
        margin: 0;
    }
    .title-content {
        text-align: center;
    }
    .row > .col-sm-2-4 {
        display: block;
        width: 100%;
    }
    .container-fluid > .navbar-brand {
        display: block;
    }
    .navbar-brand {
        float: right;
        margin-right: -15px;
    }
    .login-panel {
        padding: 10px;
        padding-top: 15px;
    }
    .login-footer {
        text-align: center;
    }
}
/* Print njop style */
 table.tnjop > tbody > tr > td:first-child {
    text-align: right;
}
table.tnjop > tbody > tr > td:last-child {
    text-align: left;
}
.title-print {
    display: none;
}
.el-print {
    display: none;
}
.table > tbody > tr.row_p {
    display: none;
}
@media print {
    body {
        margin: 0;
        padding: 0;
    }
    header {
        display: none; 
    }
    aside {
        display: none;
    }
    footer {
        display: none;
    }
    .sidenav {
        display: none;
    }
    .main-content {
        margin: 0;
        padding: 0;
        top: 0;
    }
    .title-content {
        display: none;
    }
    .el-print {
        display: block;
    }
    .panel-heading, .panel-body {
        display: none;
    }
    .panel-footer {
        display: none;
    }
    .title-print {
        font-size: 120%;
        display: block;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
    }
    .table {
        margin-top: 20px;  
    }
    .table > tbody > tr {
        border-left: 1px solid #ccc;
        /*border-bottom: 2px solid #ccc;*/
    }
    .table > thead > tr {
        border-left: 1px solid #ccc;
    }
    .title-print img {
        width: 48px;
        height: 55px;
        /*filter: grayscale(100%);*/
    }
    .table > tbody > tr.row_p {
        display: table-row;
    }
}